    <div class="footer-push"></div>
  </div>
  <footer class="navbar navbar-inverse">
    <div class="container">
      <p class="navbar-text">
      power by Nodejs, 本网站由
      <a href="https://github.com/jan-wong" class="navbar-link">@wolf</a>
      所创作，所有代码在 
      <a href="https://github.com/jan-wong/multi-stack" target="__blank" class="navbar-link">这里</a></p>
    </div>
  </footer>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/codemirror.js"></script>
<script src="/js/markdown.js"></script>
<script src="/js/placeholder.js"></script>
<script src="/js/js.js"></script>
</body>
</html>