<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>全栈社区-全栈是一种态度</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/codemirror.css">
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimal-ui">
</head>
<body>
  <%- include('./navbar')%>
  <div class="container wrapper">
